@import "./reset.css";
@import "./fonts/Gilroy/stylesheet.css";

/* font-family: 'Gilroy', sans-serif; */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}
.no-scroll {
    overflow-y: hidden;
}

.none {
    display: none;
}
 
/* Header */

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto
}

.container-right {
    padding-left: calc((100% - 1750px) / 2 + 15px);
    overflow: hidden;
}

@media(max-width:1749) {
    .container-right {
        padding-left: 15px;
    }
}

.hidden {
    visibility: hidden;
}

.header__content-mobile {
    display: none;
}

/* Button */
.btn {
    color: #145;
    font-size: 20px;
    line-height: 36px;
    font-weight: 800;
    border: 1px solid #145;
    border-radius: 2px;
    padding: 10px 24px;
    padding-right: 72px;
    display: inline-block;
    position: relative;
    transition: .3s ease;
}

.nav__btn {
    display: none;
}

.btn:active {
    top: 1px
}


.header__top {
    padding: 44px 0;
    margin-bottom: 126px;
}

.header {
    min-height: 100vh;
    background-color: #E1EDF2;
    background-image: url("./../image/header/header-bg.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.header__arrows {
    position: absolute;
    left: 50%;
    bottom: 59px;
    transform: translateX(-50%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 118px;
}

.link {
    color: #145;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 800;
}

.link:hover {
    color: #1F1F1F;
    transition: .3s ease;
}


/* Header content */

.header__content {
    max-width: 1060px;

}

.header__title {
    max-width: 734px;
    color: #145;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 48px;
}

.header__text {
    color: #1F1F1F;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 72px;
    line-height: 1.57;
}

.header__text p+p {
    margin-top: 1em;
}

.btn:hover,
.btn:focus {
    color: #FFF;
    background-color: #145;
}

.btn:hover::after {
    background-image: url('./../image/icons/ArrowRightwhite.svg');
}

.btn--big {
    padding: 14px 32px;
    padding-right: 80px;
}

.btn--dark {
    color: #FFF;
    background-color: #145;
}

.btn::after {
    content: "";
    position: absolute;
    height: 32px;
    width: 32px;
    background-image: url('./../image/icons/ArrowRightBlack.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}

.btn--dark::after {
    background-image: url('./../image/icons/ArrowRightwhite.svg');
}

.btn--dark:hover,
.btn--dark:focus {
    background-color: #1F1F1F;
}


.case-studies {
    padding: 184px 0;
}

.case-studies__title {
    margin-bottom: 12px;
    font-family: 'Gilroy', sans-serif;
    max-width: 1076px;
}



.case-studies__text {
    margin-bottom: 100px;
    font-family: 'Gilroy', sans-serif;
    max-width: 1076px;
}

.text {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.57;
    color: rgba(31, 31, 31, 0.7);
}

.title {
    font-size: 80px;
    font-weight: 800;
    color: #1F1F1F;
}

.slider {
    width: 2191px;
}

.slide {
    display: inline-block;
    padding-left: 80px;
    position: relative;

}

.slide__title {
    font-size: 140px;
    font-weight: 800;
    color: #145;
    position: absolute;
    bottom: 104px;
    left: 0px;
    background: linear-gradient(90deg, #145 80px, #fff 80px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about {
    padding: 144px 0;
}

.about__title {
    margin-bottom: 12px;
    max-width: 1070px;
}

.about__text {
    margin-bottom: 78px;
    max-width: 1070px;
}



.video {
    position: relative;
    overflow: hidden;
}


.video-overlay::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #145;
    opacity: .5;
    z-index: 8;

}

.video__btn {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;

}

.video__picture {
    position: relative;
    z-index: 7;
    /* display: none; */
}

.video__object {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;

}

.footer {
    padding: 162px 0 82px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.8px;
    color: rgba(31, 31, 31, 0.7);
}

.footer a {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.8px;
    color: rgba(31, 31, 31, 0.7);
}



.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__nav {
    display: flex;
    column-gap: 104px;
}

.footer__socials {
    display: flex;
    column-gap: 27px;
}

.none {
    display: none;
}

.mobile-nav {
    background-color: #FFF;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 50px 15px 33px 22px;
}

.mobile-nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

.mobile-nav__link {
    width: 109px;
    height: 20px;
}

.mobile-list {
    margin-bottom: 50px;
}

.mobile-list a {
    color: #1F1F1F;
    font-size: 40px;
    line-height: 56px;
    font-weight: 800;
}

.mobile-ontacts__title {
    color: #1F1F1F;
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
    margin-bottom: 32px;
}

.mobile-contacts__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
}

.mobile-contacts__wrapper a {
    color: rgba(31, 31, 31, 0.7);
    font-size: 15px;
}
.mobile-ontacts__address{
    color: rgba(31, 31, 31, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 112px;
}
.mobile-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.social-icon {
    width: 24px;
    height: 24px;
}
.mobile-footer a {
    color: rgba(31, 31, 31, 0.7); 
    font-size: 16px;
}
.mobile-footer__copyright {
    color: rgba(31, 31, 31, 0.7); 
    font-size: 14px;
}