@media(max-width: 1000px) {
    .header__title {
        font-size: 50px;
        margin-bottom: 28px;
    }

    .header__text {
        font-size: 24px;
        margin-bottom: 52px;
    }

    .nav__list {
        column-gap: 50px;
    }

    .slider {
        width: 1350px;
    }


    .slide__img {
        width: 300px;
        height: 351px;
    }

    .slide {
        padding-left: 40px;
    }

    .slide__title {
        font-size: 70px;
        bottom: 22px;
        background: linear-gradient(90deg, #145 40px, #fff 40px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .case-studies {
        margin-left: 9px;
    }

    .case-studies {
        padding: 104px 0;
    }

    .about {
        padding: 0;
    }

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 22px;
    }

    .footer__nav {
        column-gap: 50px;
    }



}

@media(max-width:800px) {
    .footer__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: -1
    }

    .footer__socials {
        margin-bottom: 32px;
        margin-top: 16px;
    }

}

@media(max-width: 600px) {
    .nav__logo {
        max-width: 109px;
        margin-left: 7px;
    }

    .header__top {
        padding: 50px 0 18px;
        margin-bottom: 150px;
    }

    .nav__list {
        display: none;
    }

    .nav__btn {
        display: block;
        /* margin-right: 1px; */
    }

    .header__content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;


    }

    .header__logo-mobile {
        width: 244px;
    }

    .header__content {
        display: none;
    }

    .header {
        background-image: url("./../image/header/headerMobile.jpg");
    }


    .header__text-mobile {
        text-align: center;
        max-width: 237px;
        color: rgba(31, 31, 31, 0.7);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.96px;
    }

    .header__arrows {
        width: 19px;
        height: 16px;
        bottom: 32px;
    }

    .case-studies {
        padding: 104px 0;
    }

    .title {
        font-size: 32px;
    }

    .case-studies__text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 31px;
    }

    .text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;

    }

    .case-studies__title {
        margin-bottom: 7px;

    }

    .case-studies {
        margin-left: 9px;
    }

    .slide__img {
        width: 224px;
        height: 264px;
    }

    .slide {
        padding-left: 33px;
    }

    .slide__title {
        font-size: 60px;
        bottom: 22px;
        background: linear-gradient(90deg, #145 33px, #fff 33px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .slider {
        width: 564px;
    }

    .about__title {
        margin-bottom: 7px;
        max-width: 291px;
    }

    .about {
        margin-left: 9px;
    }

    .about__content {
        width: 321px;
        height: 338px;
        margin: 0 auto;

    }



    .video__picture,
    .video__picture img {
        width: 100%;
    }

    .video__btn {
        width: 48px;
        height: 48px;
    }

    .video__object {
        position: absolute;
        left: -50%;
        top: 0;
        width: 900px;
        height: 459px;
        vertical-align: top;
    }


    .footer {
        padding-top: 112px;
    }

    .footer a {
        font-size: 16px;
    }

    .footer__socials {
        column-gap: 24px;
    }

    .footer__copyright {
        font-size: 14px;
    }

    .social-icon-img {
        width: 24px;
        height: 24px;
    }



}